footer{
<<<<<<< HEAD
    margin-top: 100px;
    background-image: url("https://t3.ftcdn.net/jpg/05/49/87/48/360_F_549874832_odaIb0fUsf27oYS6qXj392f5673mRSW5.jpg");
    background-size: contain;

=======
    margin-top: 400px;
>>>>>>> 3c94922a0bcf220d1d6604366ce27a4084c3d0b0
}